<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmb.okr.dao.domain.Subject">
	<resultMap type="com.cmb.okr.dao.domain.Subject" id="baseResultMap">
		<result property="id" column="id" jdbcType="BIGINT" />
		<result property="name" column="name" jdbcType="VARCHAR" />
		<result property="startupDate" column="startup_date" jdbcType="TIMESTAMP" />
		<result property="status" column="status" jdbcType="VARCHAR" />
		<result property="descp" column="descp" jdbcType="VARCHAR" />
		<result property="icon" column="icon" jdbcType="VARCHAR" />
		<result property="okrType" column="okr_type" jdbcType="VARCHAR" />
		<result property="curVersion" column="cur_version" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="selectSql">
		SELECT
		id AS id,
		<trim prefix="" suffixOverrides=",">
			name AS name,
			startup_date AS
			startupDate,
			status AS status,
			descp AS descp,
			icon AS icon,
			okr_type AS
			okrType,
			cur_version AS curVersion,
		</trim>
		FROM subject
	</sql>

	<sql id="whereSql">
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="name != null">
				AND name = #{name}
			</if>
			<if test="startupDate != null">
				AND startup_date = #{startupDate}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="descp != null">
				AND descp = #{descp}
			</if>
			<if test="icon != null">
				AND icon = #{icon}
			</if>
			<if test="okrType != null">
				AND okr_type = #{okrType}
			</if>
			<if test="curVersion != null">
				AND cur_version = #{curVersion}
			</if>
		</trim>
	</sql>
	
	<sql id="whereSqlPaging">
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="param.id != null">
				AND id = #{param.id}
			</if>
			<if test="param.name != null">
				AND name = #{param.name}
			</if>
			<if test="param.startupDate != null">
				AND startup_date = #{param.startupDate}
			</if>
			<if test="param.status != null">
				AND status = #{param.status}
			</if>
			<if test="param.descp != null">
				AND descp = #{param.descp}
			</if>
			<if test="param.icon != null">
				AND icon = #{param.icon}
			</if>
			<if test="param.okrType != null">
				AND okr_type = #{param.okrType}
			</if>
			<if test="param.curVersion != null">
				AND cur_version = #{param.curVersion}
			</if>
		</trim>
	</sql>

	<sql id="sortSql">
		<if test="sortCount != null">
			order by
			<trim prefix="" suffixOverrides=",">
				<foreach collection="sorts" index="index" item="f"
					separator=",">
					${f.field} ${f.sort}
				</foreach>
			</trim>
		</if>
	</sql>

	<sql id="updateSql">
		UPDATE subject
		<trim prefix="SET" suffixOverrides=",">
			<if test="name != null">
				name = #{name},
			</if>
			<if test="startupDate != null">
				startup_date = #{startupDate},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="descp != null">
				descp = #{descp},
			</if>
			<if test="icon != null">
				icon = #{icon},
			</if>
			<if test="okrType != null">
				okr_type = #{okrType},
			</if>
			<if test="curVersion != null">
				cur_version = #{curVersion},
			</if>
		</trim>
	</sql>

	<sql id="deleteSql">
		DELETE from subject
	</sql>

	<sql id="insertColume">
		<trim prefix="" suffixOverrides=",">
			id,
			<if test="name != null">
				name,
			</if>
			<if test="startupDate != null">
				startup_date,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="descp != null">
				descp,
			</if>
			<if test="icon != null">
				icon,
			</if>
			<if test="okrType != null">
				okr_type,
			</if>
			<if test="curVersion != null">
				cur_version,
			</if>
		</trim>
	</sql>

	<sql id="insertValue">
		<trim prefix="" suffixOverrides=",">
			#{id},
			<if test="name != null">
				#{name},
			</if>
			<if test="startupDate != null">
				#{startupDate},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="descp != null">
				#{descp},
			</if>
			<if test="icon != null">
				#{icon},
			</if>
			<if test="okrType != null">
				#{okrType},
			</if>
			<if test="curVersion != null">
				#{curVersion},
			</if>
		</trim>
	</sql>
	
	<sql id="pagingSql">
		<trim prefix="" suffixOverrides=",">
			<if test="limit != null">
				limit #{offset},#{limit}
			</if>
		</trim>
	</sql>

	<insert id="insert" parameterType="Subject">
		INSERT INTO subject(
		<include refid="insertColume" />
		) VALUE (
		<include refid="insertValue" />
		)
	</insert>

	<update id="update" parameterType="Subject">
		<include refid="updateSql" />
		<include refid="whereSql" />
	</update>

	<delete id="delete" parameterType="Subject">
		<include refid="deleteSql" />
		<include refid="whereSql" />
	</delete>

	<select id="load" parameterType="Subject" resultType="Subject">
		<include refid="selectSql" />
		<include refid="whereSql" />
	</select>

	<select id="queryForAll" parameterType="Subject" resultType="Subject">
		<include refid="selectSql" />
		<include refid="whereSql" />
	</select>

	<select id="selectCount" parameterType="PagingParam"
		resultType="Integer">
		SELECT COUNT(ID) AS count FROM subject
		<include refid="whereSqlPaging" />
	</select>
	
	<select id="queryForPage" parameterType="PagingParam" resultType="Subject">
		<include refid="selectSql" />
		<include refid="whereSqlPaging" />
		<include refid="pagingSql" />
	</select>

</mapper>
